<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Productos</title>
</head>

<body>
<header>
<h1>Inicio - Productos en Tiempo real</h1>
</header>

<main>
    <section>
        <h3>Productos</h3>
        
        <div class="sort-buttons"> 
            <button id="sort-asc">Ordenar Ascendente</button> 
            <button id="sort-desc">Ordenar Descendente</button> 
            <button id="sort-none">Quitar Ordenamiento</button>
        </div>

        <div class="products">
            <div class="products__list">
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Precio</th>
                            <th>Acciones</th> <!-- Nueva columna para los botones -->
                        </tr>
                    </thead>
                    <tbody id="products-list"></tbody>
                </table>
            </div>
            <div class="pagination">
                <button id="first-page">Primera</button>
                <button id="prev-page">Anterior</button>
                <span id="page-info"></span>
                <button id="next-page">Siguiente</button>
                <button id="last-page">Última</button>
            </div>  
        </div>        
    </section>

   <button id="view-cart">Ver carrito</button>
    {{!-- <section> 
        <button id="btn-refresh-products-list">Refrescar Lista de Productos</button> 
    </section> --}}

    <section>
        <h3>Formulario de Productos</h3>
        <form class="products__form" id="products-form">
            <div class="form-product">
                <input type="text" name="title" placeholder="Ingresa el nombre">
                <input type="text" name="description" placeholder="Descripción">
                <input type="text" name="code" placeholder="Código">
                <input type="number" name="price" placeholder="Precio">
                <input type="text" name="category" placeholder="Categoría">
                <div>¿Está activo?<input type="checkbox" name="status"></div>
                <input type="number" name="stock" placeholder="Ingresa el stock">
            </div>

            <input type="submit" value="Guardar">
        </form>
    </section>

    <section>
        <h3>Eliminar Producto</h3>
        <div class="products__delete">
            <input type="text" class="products__delete__input" id="input-product-id"
                placeholder="ID del Producto">
            <button id="btn-delete-product">Eliminar</button>
        </div>
    </section>

    <p class="error-message" id="error-message"></p>
</main>

<script src="/socket.io/socket.io.js"></script>{{!-- El script de socket.io debe estar antes que product.js --}}
<script src="/api/public/js/products.socket.js"></script>
<script src="/api/public/js/products.js" type="module"></script>
</body>
</html>
